%dl.list
  - @list.items.each do |item|
    %dt{ title_attributes(item) }
      %div.thumbnail{ :id => "#{item.unchanging_anchor}_thumb" }= item_image(item)
      = link_to(h(item.title), referralize(item.url), :class => "title")
      = rating_link(item)
      %span.actions
        = link_to(image_tag('anchor.png', :alt => "link"), '#'+item.anchor, :class => "anchor", :title => "Link directly to this item")
        = link_to(image_tag('picture.png', :alt => "change image"), "/#{@user}/set_image?url=#{Rack::Utils.escape(item.url)}&title=#{Rack::Utils.escape(item.title)}&id=#{item.unchanging_anchor}", :class => "image", :title => "Change image for this item")
        = link_to(image_tag('pencil.png', :alt => "edit"), h(edit_url(item)), :class => "edit", :title => "Edit this item, if it's yours")
    %dd
      %p.description= format_description(item.description)
      %p.meta
        %span.date{ date_attributes(item) }= humanize_date(item.added)
        %span.tags
          - if item.tags.any?
            tagged
            =tags_for(item)
    
    - # To track when we come to a new section in rendering the list.
    - @last_rating = item.rating
    - @last_date = item.added
