!!!
%html
  %head
    = partial :head

    %link(rel="stylesheet" type="text/css" href="/stylesheets/facebox.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/list.css")

    %script(type="text/javascript" src="/javascripts/facebox.js")
  
  %body
  
    #header
      #title
        %h1= "%s / %s" % [link_to('delishlist', '/'), header]
        %p= "a %s wishlist" % link_to('Delicious', 'http://delicious.com/')
      #sort
        = @sort
  
    #content
      = yield
    
    #footer
      %p
        = "By %s." % link_to('Henrik Nyh', 'http://henrik.nyh.se/')
        = "Like this site? Get me %s!" % link_to('something', list_path(:user => "malesca"))
      %p
        Amazon links become referral links (but are not altered on Delicious, of course).
        "Anchor", "Edit" and "Picture" icons by
        = link_to('Mark James', 'http://www.famfamfam.com/') + "."
      %p
        The adapted data from
        = delicious_link
        is licensed under
        = link_to('Creative Commons Attribution Share-Alike 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/') + "."
        This site is not affiliated with Yahoo! Inc., owner of the "Delicious" trademark.

    =# partial 'layout/google_analytics'
    