- self.title = (@tags.empty? ? "" : "#{fancy_tags(@tags, :html => false)} in ") + "#{@user.s} delishlist"
- @search_and_sort = sort_link

:javascript
  window.Delishlist = {
    user: "#{@user}"
  };

#sidebar

  = format_list_description(@list.description)
  = partial :ads
  
- if @list.empty?

  - if @tags.empty?
    %p
      Sorry, this user doesn't have anything tagged <code class="tags">wishlist</code> on
      = delicious_link , "."
  - else
    %p== Sorry, this user doesn't have anything tagged <code class="tags">#{fancy_tags(["wishlist"]+@tags)}</code> on #{delicious_link}.

- else

  = partial :list_items
