- self.title = (@tags.empty? ? "" : "#{fancy_tags(@tags, :html => false)} in ") + "#{@user.s} delishlist"
- @sort = sort_link
- head do
  %script(type="text/javascript" src="/javascripts/list.js")
  :javascript
    window.Delishlist = #{ { :url_name => @user.url_name, :pinboard => @user.pinboard? }.to_json };

#sidebar

  = format_list_description(@list.description)

- if @list.empty?

  - if @tags.empty?
    %p
      Sorry, this user doesn't have anything tagged <code class="tags">wishlist</code> on
      = source_site_link + "."
  - else
    %p== Sorry, this user doesn't have anything tagged <code class="tags">#{fancy_tags(["wishlist"]+@tags)}</code> on #{source_site_link}.

- else

  = partial :list_items
